# The del Statement

In [1]:
l=[1,2,3,4,5,6]

In [2]:
del l[2]

In [3]:
print l

[1, 2, 4, 5, 6]

In [4]:
del l
print l

NameError: name 'l' is not defined

In [5]:
a="Ashish"
print a

Ashish

In [31]:
del a
print a

NameError: name 'a' is not defined

In [32]:
def fun ():
    a="Ashish"
    print a
    
fun()
print a

Ashish

NameError: name 'a' is not defined

# Tuples

In [37]:
t="Ashish","Mahesh","Bhargavi","Raju",1,2,3,2
print t

('Ashish', 'Mahesh', 'Bhargavi', 'Raju', 1, 2, 3, 2)

In [38]:
a,b,c,d=t

ValueError: too many values to unpack

In [39]:
a,b,c,d,e,f,g,h=t
print a

Ashish

In [40]:
print a,b,c,d,e,f,g

Ashish Mahesh Bhargavi Raju 1 2 3

In [35]:
len(t)

8

In [34]:
t.count(2)

1

In [41]:
t.index(3)

6

In [42]:
t=()  # Empty Tuple

In [44]:
t2="Mahesh",    # This Tuple wiht single elements, not a variable

In [45]:
type(t2)

tuple

In [46]:
t3="Mahesh"
type(t3)

str

# Set Function

In [56]:
list=[1,1,1,2,2,2,2,3,3,3,3,45,56]
s=set(list)    # set will remove duplicate values and Sequance doesn't matter
print s

set([56, 1, 2, 3, 45])

In [59]:
t="Ashish","Mahesh","Bhargavi","Raju",1,2,3,2
s1=set(t)
print s1

set([1, 2, 3, 'Bhargavi', 'Mahesh', 'Raju', 'Ashish'])

In [63]:
union=s & s1
print union

set([1, 2, 3])

In [64]:
s3=s|s1
print s3

set([1, 2, 3, 45, 'Mahesh', 'Bhargavi', 56, 'Raju', 'Ashish'])

In [65]:
s4=s3-s
print s4

set(['Mahesh', 'Raju', 'Bhargavi', 'Ashish'])

In [66]:
# XOR Operater (^)
s5=s4^s
print s5

set([1, 2, 3, 45, 'Mahesh', 'Bhargavi', 56, 'Raju', 'Ashish'])

# Dictionary  (A key-Value Pair)

In [67]:
dict={1:"Mahesh",2:"Ashish",3:"Bhargavi"}

In [72]:
print dict[1]
print dict[1][2]

Mahesh
h

In [73]:
dict2={"key1":"Mahesh","key2":"Ashish","key3":"Bhargavi"}
print dict[2]

Ashish

In [74]:
print dict["Ashish"]

KeyError: 'Ashish'

In [6]:
#del dict

dict5 = dict([("key1","Mahesh"),("key2","Ashish"),("key3","bhargavi")])

In [79]:
help(dict.update)

Help on method_descriptor:

update(...)
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E present and has a .keys() method, does:     for k in E: D[k] = E[k]
    If E present and lacks .keys() method, does:     for (k, v) in E: D[k] = v
    In either case, this is followed by: for k in F: D[k] = F[k]

In [13]:
F = {"4":"name"}

In [14]:
dict5.update(F)

In [15]:
print dict5

{'key3': 'bhargavi', 'key2': 'Ashish', 'key1': 'Mahesh', '4': 'name'}

In [16]:
E = {"4":"Awi"}

In [25]:
dict5.update(E)

In [26]:
print dict5

{'key3': 'bhargavi', 'key2': 'Ashish', 'key1': 'Mahesh', '4': 'Awi'}

In [27]:
print dict5.items()

[('key3', 'bhargavi'), ('key2', 'Ashish'), ('key1', 'Mahesh'), ('4', 'Awi')]

In [19]:
for i in dict5:
    print i

key3
key2
key1
4

In [20]:
for i in dict5:
    print i, dict5[i]

key3 bhargavi
key2 Ashish
key1 Mahesh
4 Awi

In [102]:
print sorted(dict5)

['4', 'key1', 'key2', 'key3']

In [105]:
reversed(dict5.items())

In [7]:
print dict5

{'key3': 'bhargavi', 'key2': 'Ashish', 'key1': 'Mahesh'}

In [109]:
{x:5*x for x in (1,2,3,4)}

{1: 5, 2: 10, 3: 15, 4: 20}

In [111]:
for i,j in dict5.items():
    print i,j

key3 bhargavi
key2 Ashish
key1 Mahesh
4 Awi

In [116]:
k = [1,2,3,4]
v = ["a","b","c","d"]
d = zip(k,v)
print d

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

In [117]:
d1 = dict(d)

In [118]:
print d1

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [126]:
("c" in v) & ("Ashish" in v)

False

In [122]:
"Ashish" in v

False

In [127]:
help(dict5.fromkeys)

Help on built-in function fromkeys:

fromkeys(...)
    dict.fromkeys(S[,v]) -> New dict with keys from S and values equal to v.
    v defaults to None.

In [31]:
help(dict5.setdefault)

Help on built-in function setdefault:

setdefault(...)
    D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D

In [32]:
list2 = [1,7,7,2,3,3,3,4,5,5,6]

sorted(set(list2))

[1, 2, 3, 4, 5, 6, 7]

In [33]:
print dict5

{'key3': 'bhargavi', 'key2': 'Ashish', 'key1': 'Mahesh', '4': 'Awi'}

In [34]:
dict7=dict5

In [35]:
print dict7

{'key3': 'bhargavi', 'key2': 'Ashish', 'key1': 'Mahesh', '4': 'Awi'}

In [36]:
dict8={'one':'1',}